@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #C2DEDC;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo a span i{
    color: #116A7B;
    font-size: 4rem;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.4rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #116A7B;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #116A7B;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 100%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #4F709C;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #4E6077;
    color: #fff;
}

.container{
    background-color: #116A7B;
    padding: 8rem 4rem;
    position: relative;
    display: grid;
    gap: 2rem;
    transition: all 0.8s ease;
}

header .content{
    margin: auto;
    padding: 2rem 1rem;
}

header .content h4{
    border-bottom: out #fff;
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #fff;
    max-width: 1200px;
}





